/*
 * /src/server/html-pages/style.css
 */


html, body {
    position: relative;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    font: 14px Arial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    position: fixed;
}

button {
    position:absolute;
    height: 40px;
    text-align: center;
    color: white;

    border: 1px solid lightgray;
    font-family: Roboto Medium, Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;

    background: #55D346;
    border-radius: 5px;
}

button[disabled] {
    opacity: 0.5;
}

.game-root {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position:absolute;
}
/*
 * /src/client/utils/browsercheck/browser-check.scss
 */

.unsupported-browser-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.unsupported-browser {
  top: 50px;
  left: 50%;
  position: relative;
  margin: 0 40px 40px -230px;
  text-align: center;
  width: 460px;
  padding: 30px 30px 40px 30px;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 20px;
}

.unsupported-browser .text p {
  margin: 3px 0 7px 0;
}

.unsupported-browser .header {
  font-size: 18px;
}

.unsupported-browser a.supported-browser {
  position: relative;
  display: inline-block;
  margin: 4px 10px -4px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.unsupported-browser a.supported-browser:hover {
  background: #f1f1f5;
}

.unsupported-browser a.supported-browser p {
  color: #11E;
}

/*
 * /src/client/game/ui/overlay/chat/chat.scss
 */

.chat-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.chat-container .chat {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  bottom: 200px;
  overflow: auto;
  padding: 10px;
  font-family: 'Cousine', monospace;
}

.chat-container input.chat-input {
  position: absolute;
  width: calc(100% - 114px);
  bottom: 50px;
  left: 50px;
  height: 30px;
  padding: 7px;
  text-align: center;
}

.chat-container input.chat-input.mobile {
  bottom: auto;
  left: 370px;
  right: 70px;
  top: 10px;
  width: calc(100% - 460px);
}

/*
 * /src/client/ui/overlay/overlay.scss
 */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.3);
  display: block;
}

/*
 * /src/client/ui/overlay/events/event-view.scss
 */

.event-container .menu.event-view {
  position: absolute;
  padding: 15px;
  left: 0;
  right: 0;
  top: 0;
  transition: top 0.3s, opacity 0.5s;
  color: #2D2D2D;
}

/*
 * /src/client/ui/overlay/events/event-container.scss
 */

.event-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 220px;
  display: block;
  pointer-events: none;
}

/*
 * /src/client/scenes/loading/loading-scene.scss
 */

.loading-text {
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -100px;
  user-select: none;
  cursor: default;
  position: absolute;
}

/*
 * /src/client/game/ui/overlay/primary/play-menu/play-menu.scss
 */

.menu.nick {
  margin-left: 150px;
  margin-top: 10px;
  width: 250px;
  height: 140px;
}

.menu.nick input.nick {
  position: absolute;
  padding: 10px;
  left: 20px;
  top: 50px;
  width: calc(100% - 60px);
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
}

.menu.nick button {
  left: 13px;
  width: 225px;
  top: 87px;
}

.menu.nick .header {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
}

.menu.nick input {
  position: absolute;
  width: 225px;
  left: 13px;
  height: 40px;
  top: 35px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  line-height: 40px;
  background: #F0F0F0;
  border-radius: 5px;
  border: none;
}

/*
 * /src/client/ui/menu/menu.scss
 */

.menu {
  left: 50%;
  top: 50%;
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  overflow: hidden;
}

.menu .title {
  font-family: Arial, serif;
  font-size: 20px;
  cursor: default;
}

.menu .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  border-top: solid 1px #ececec;
  padding: 5px 6px 7px 6px;
  box-sizing: border-box;
  text-align: right;
}

.menu .footer button {
  display: inline-block;
  position: relative;
  height: 45px;
}

/*
 * /src/client/game/ui/overlay/primary/controls/controls.scss
 */

.menu.tip {
  margin-left: -400px;
  margin-top: -235px;
  width: 800px;
  height: 460px;
  transition: opacity 0.3s;
}

.menu.tip .header {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.menu.tip .wish {
  position: absolute;
  bottom: 65px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.menu.tip .line {
  position: relative;
  top: 10px;
  text-align: center;
  margin: 20px 0;
}

.menu.tip table {
  display: inline-block;
  height: 65px;
  margin: 0 10px;
}

.menu.tip button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 225px;
}

.menu.tip .checkbox {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.menu.tip .key {
  width: 50px;
  height: 50px;
  border: solid 1px #777;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  display: inline-block;
}

/*
 * /src/client/ui/elements/dropdown/dropdown.scss
 */

@charset "UTF-8";
.dropdown {
  width: 100%;
  min-height: 40px;
  position: relative;
  box-sizing: border-box;
  margin-right: 1em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  outline: none;
  border: 1px solid transparent;
}

.dropdown:not(.expanded) {
  max-height: 40px;
}

.dropdown .select-wrapper {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
}

.dropdown .select-wrapper.selected {
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown::after {
  content: "▾";
  position: absolute;
  right: 0.8em;
  top: 0.7em;
}

.dropdown.expanded.selected {
  padding-top: 40px;
}

.dropdown:not(.expanded).selected .select-wrapper:not(.selected) {
  display: none;
}

.dropdown:not(.expanded) .select-wrapper:not(:first-child) {
  display: none;
}

.dropdown:not(.expanded).selected .select-wrapper.selected {
  display: block;
}

.dropdown.expanded {
  background: white;
  border-radius: .25em;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;
}

.dropdown.expanded .select-wrapper:not(:first-child) {
  border-top: 0.06em solid #d9d9d9;
}

.dropdown.expanded .select-wrapper:hover, .dropdown.expanded .select-wrapper.selected {
  color: #3694d7;
}

.dropdown.expanded::after {
  transform: rotate(-180deg);
  top: 0.8em;
}

.dropdown.selected .select-wrapper.selected {
  border: none;
}

.dropdown.selected .select-wrapper:not(selected) {
  border-top: 0.06em solid #d9d9d9;
}

/*
 * /src/client/game/ui/overlay/primary/room-select/room-select.scss
 */

.menu.room-select {
  overflow: visible;
  margin-left: 170px;
  margin-top: -290px;
  width: 230px;
  height: 40px;
  opacity: 0.4;
  transition: opacity 0.5s;
}

.menu.room-select:hover, .menu.room-select.expanded {
  opacity: 1;
}

/*
 * /src/client/game/ui/overlay/primary/tank-preview/tank-preview.scss
 */

.menu.tankinfo {
  margin-left: -400px;
  margin-top: -235px;
  width: 800px;
  height: 225px;
}

.menu.tankinfo .tank-stats .stat {
  position: relative;
  height: 35px;
}

.menu.tankinfo .tank-stats .stat-scale {
  position: absolute;
  transition: width 0.5s ease-out, background 0.5s ease-out;
  height: 23px;
  border-radius: 5px;
}

.menu.tankinfo .tank-stats .stat-title {
  position: absolute;
  height: 23px;
  line-height: 23px;
  left: 5px;
  font-family: Roboto, sans-serif;
  color: white;
}

.menu.tankinfo .tank-stats .stat-value {
  position: absolute;
  height: 20px;
  line-height: 20px;
  transition: left 0.5s ease-out;
}

.menu.tankinfo .tank-stats .tankdescription {
  position: absolute;
  height: 30px;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding: 10px;
  overflow: auto;
  word-wrap: break-word;
}

.menu.tankinfo .tank-preview {
  left: 20px;
  top: 20px;
  width: 185px;
  height: 185px;
  position: absolute;
}

.menu.tankinfo .tank-preview canvas {
  position: absolute;
  left: 15px;
  width: 155px;
  height: 155px;
}

.menu.tankinfo .tank-preview h1 {
  position: absolute;
  top: 155px;
  left: 0;
  right: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
}

.menu.tankinfo .tank-stats {
  position: absolute;
  left: 230px;
  right: 210px;
  bottom: 30px;
  top: 30px;
}

.menu.tankinfo .description {
  right: 20px;
  top: 20px;
  bottom: 10px;
  width: 170px;
  position: absolute;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

/*
 * /src/client/game/ui/overlay/primary/tank-select/tank-select.scss
 */

.menu.tankselect {
  margin-left: -400px;
  margin-top: 10px;
  width: 530px;
  height: 140px;
}

.menu.tankselect .shadow {
  background: transparent;
  transition: opacity 0.3s;
  width: 50px;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.menu.tankselect .shadow.left {
  background: -moz-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.menu.tankselect .shadow.right {
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  right: 0;
}

.menu.tankselect .tank-select-container {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 491px;
  height: 120px;
  padding: 20px 20px 0 20px;
  border-right: #ddf 1px solid;
  white-space: nowrap;
}

.menu.tankselect .tank-preview-container {
  width: 80px;
  height: 95px;
  display: inline-block;
  transition: transform 0.5s, box-shadow 0.5s, border 0.5s;
  box-shadow: rgba(0, 0, 0, 0) 5px 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px transparent solid;
  position: absolute;
}

.menu.tankselect .tank-preview-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 7px;
}

.menu.tankselect .tank-preview-container:active {
  transform: scale(0.9, 0.9);
}

.menu.tankselect .tank-preview-container.selected {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 7px;
  border: 1px #22ad22 solid;
}

.menu.tankselect .tank-preview-container .preview-canvas {
  position: relative;
  left: 5px;
  top: 5px;
  width: 70px;
  height: 70px;
}

.menu.tankselect .tank-preview-container .tank-preview-title {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
}
