.tip-list {
    position: absolute;
    left: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    white-space: nowrap;
}
.tip-list .tip {
    color: white;
    border-radius: 5px;
    padding: 4px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
}
.tip-list .tip.error {
    background: #EC4040;
}
.tip-list .tip.warning {
    background: #EC7E40;
}
.tip-list .tip.weak-warning {
    background: #ECC640;
}
.tip-list .tip.fine {
    background: #40EC66;
}
