.axis-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .cloud {
    padding: 4px 8px;
    font-style: italic;
    font-size: 20px;
    line-height: 23px;
  }

  >.mapped-keys {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 5px;

    .cloud {
      padding: 4px 10px;
      font-style: normal;
    }
  }
}