.navigation-view.pause-navigation-view {
    justify-content: center;
    height: 100%;
}
.navigation-view {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0;
    align-items: center;
}
.navigation-view.hub-navigation-view {
    min-height: 100%;
    justify-content: center;
}
