.map-editor-sidebar {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    overflow: hidden;

    .map-editor-sidebar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        gap: 10px;
        height: 40px;
        border-bottom: 2px solid #C8C8C8;
        align-self: stretch;
    }

    .map-editor-sidebar-header-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        align-self: stretch;
    }

    .map-editor-sidebar-header-icon {
        width: 40px;
        height: 40px;
        background-image: url("../game/tank-gray@3x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .map-editor-sidebar-header-text {
        font-weight: 700;
        font-size: 14px;
        color: #000000;
        height: 40px;
        line-height: 40px;
        flex-grow: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    input.map-editor-sidebar-header-text {
        font-family: 'Roboto';
        box-shadow: none;
        outline: none;
        margin: 0;
        padding: 0;
        background: white;
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        height: 20px;
        padding: 2px 5px;
        min-width: 100px;
    }

    .map-editor-sidebar-close-button {
        width: 40px;
        height: 40px;
        background-image: url("../map-editor/sidebar@3x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 28px 22px;
        cursor: pointer;
    }

    .sidebar-drag-edge {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: rgb(200, 200, 200);
        cursor: ew-resize
    }

    .sidebar-drag-edge:hover {
        width: 4px;
        background-color: rgb(200, 200, 200);
    }
}

.map-editor-sidebar-show-button {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 47px;
    height: 47px;
    background-color: white;
    background-image: url("../map-editor/sidebar@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 22px;
    cursor: pointer;
    border: solid 1px #C8C8C8;
    border-radius: 5px;
}