.map-editor-sidebar {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 318px;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-right: 1px solid #7F7F7F;

    .map-editor-sidebar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        gap: 10px;
        height: 40px;
        border-bottom: 2px solid #C8C8C8;
        align-self: stretch;
    }

    .map-editor-sidebar-header-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        align-self: stretch;
    }

    .map-editor-sidebar-header-icon {
        width: 40px;
        height: 40px;
        background-image: url("../game/tank-gray@3x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .map-editor-sidebar-header-text {
        font-weight: 700;
        font-size: 14px;
        color: #000000;
    }

    .map-editor-sidebar-close-button {
        width: 40px;
        height: 40px;
        background-image: url("../map-editor/sidebar@3x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 28px 22px;
    }
}