.tree-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0 0 0 10px;
    flex-grow: 1;
    min-height: 0;
    outline: none;

    [role="treeitem"] {
        outline: none;
    }

    .tree-view-cursor {
        position: absolute;
        height: 3px;
        border: 0px dashed gray;
        border-bottom-width: 1px;
        border-left-width: 1px;
        right: 0px;
        z-index: 1;
        pointer-events: none;
    }

    .tree-row {
        height: 100%;
        box-sizing: border-box;
        padding-right: 10px;
        position: relative;

        &:hover:not(.selected) .background {
            background-color: rgb(240, 240, 240);
            border-radius: 5px;
        }

        &.will-receive-drop .background {
            border: 1px dashed gray;
        }

        &.selected .background {
            background-color: rgb(220, 220, 220);
        }

        &.selected-start .background {
            border-radius: 5px 5px 0 0;
        }

        &.selected-end .background {
            border-radius: 0 0 5px 5px;
        }

        &.selected-start.selected-end .background, &.will-receive-drop .background {
            border-radius: 5px;
        }
    }

    .tree-row .background {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 10px;
        bottom: 0px;
    }

    .tree-row .inner {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 5px;
        gap: 6px;
        height: 100%;
    }

    .tree-row .inner .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .tree-row input {
        background: white;
        box-shadow: none;
        flex-grow: 1;
        align-self: stretch;
        font-size: 14px;
        font-family: 'Roboto';
        border: 2px solid rgb(200, 200, 200);
        border-radius: 5px;
        padding: 2px 5px;
        outline: none;
    }

    .expand-arrow {
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(/static/map-editor/expand@3x.png);
        width: 12px;
        height: 12px;
        transform: rotate(270deg);
        visibility: hidden;
        cursor: pointer;

        &.open {
            transform: none;
        }
    }
}

.tree-view:hover {
    .expand-arrow:not(.hidden) {
        visibility: visible;
    }
}

.drag-container {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
}

.drag-preview .inner {
    display: inline-block;
    padding: 5px;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 15px;
}