.editor-toolbar {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .menu.editor-toollist {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        gap: 7px;
        padding: 7px 7px;
    }

    .editor-block-select {
        width: 47px;
        height: 47px;
        background-position: center;
        background-size: 32px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.tool {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 35px;
    height: 35px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid #c8c8c8 1px;
    border-radius: 3px;
    transition: border 0.5s;
    box-sizing: border-box;
    cursor: pointer;
}

.tool.inline {
    position: relative;
    display: inline-block;
}

.tool.selected {
    border: solid 2px #00c4ff;
}