.menu.nick {
    margin-left: 150px;
    margin-top: 10px;
    width: 250px;
    height: 140px;

    input.nick {
        position: absolute;
        padding: 10px;
        left: 20px;
        top: 50px;
        width: calc(100% - 60px);
        font-size: 15px;
        border: 1px solid #999;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
    }

    button {
        left: 13px;
        width: 225px;
        top: 87px;
    }

    .header {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 10px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;

        color: #2D2D2D;
    }

    input {
        position: absolute;

        width: 225px;
        left: 13px;
        height: 40px;
        top: 35px;
        text-align: center;
        font-size: 17px;
        line-height: 40px;

        background: #F0F0F0;
        border-radius: 5px;
        border: none;
    }
}