
$selected-color: #3694d7;
$separator-color: #d9d9d9;

.dropdown {
    width: 100%;
    min-height: 40px;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    outline: none;
    border: 1px solid transparent;

    &:not(.expanded) {
        max-height: 40px;
    }

    .select-wrapper {
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 1em;
        padding-right: 3em;
        cursor: pointer;
        position: relative;

        &.selected {
            position:absolute;
            top: 0;
            left: 0;
        }
    }

    &::after {
        content: "▾";
        position: absolute;
        right: 0.8em;
        top: 0.7em;
    }

    &.selected {
        padding-top: 40px;
    }

    // If dropdown is closed
    &:not(.expanded) {

        // Display only selected option, if there is any

        &.selected .select-wrapper:not(.selected) {
            display:none
        }

        // If not, display first option only

        .select-wrapper:not(:first-child) {
            display:none
        }

        // Prevent selected options from being hidden

        &.selected .select-wrapper.selected {
            display: block;
        }
    }

    @mixin add-border {
        border-top: .06em solid $separator-color;
    }

    &.expanded {
        border: 1px solid $selected-color;
        background: white;
        border-radius: .25em;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;

        .select-wrapper {
            &:not(:first-child) {
                @include add-border;
            }

            &:hover, &.selected {
                color: $selected-color;
            }
        }

        &::after {
            transform: rotate(-180deg);
            top: 0.8em;
        }
    }

    &.selected {
        .select-wrapper {
            &.selected {
                border: none;
            }
            &:not(selected) {
                @include add-border;
            }
        }
    }
}