.editor-toolbar {
    position: absolute;
    right: 20px;
    top: 20px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;

    .editor-toollist {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .editor-block-select {
        background-size: 32px;
    }

    .tool {
        position: relative;
        background-size: 20px auto;
    }

    .tool .tool-shortcut {
        font-family: "Ropa Sans", "Roboto", sans-serif;
        font-weight: 700;
        position: absolute;
        left: 3px;
        top: 3px;
        font-size: 10px;
        color: #C8C8C8;
    }

    .tool.selected {
        border: solid 2px #00c4ff;
    }

    .editor-block-select, .tool {
        background-color: white;
        border-radius: 5px;
        border: solid 1px #C8C8C8;
        box-sizing: border-box;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        width: 47px;
        height: 47px;
    }
}