.axis-selector {
    >.mapped-keys {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 5px;
    }

    >.mapped-keys .mapped-key {
        padding: 4px 10px;
    }

    .key-name {
        font-style: italic;
        padding: 4px 8px;
    }

    .key-name,
    .mapped-key {
        font-size: 20px;
        line-height: 23px;
    }
}