.loading-view .tank-image {
    width: 100px;
    height: 55px;
    background-image: url("../assets/loading/tank-gray@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 36px;
    flex: none;
    flex-grow: 0;
}
.loading-view .loading-header {
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    color: gray;
    flex: none;
    flex-grow: 0;
}
.loading-view .loading-scale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    width: 318px;
    height: 18px;
    background: #D4D4D4;
    border-radius: 5px;
    overflow: hidden;
    flex: none;
    flex-grow: 0;
}
.loading-view .loading-scale .scale-fill {
    height: 100%;
    background: #009EE0;
}
.loading-view .loading-error-description {
    width: 320px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #515151;
    flex: none;
    flex-grow: 0;
}
.loading-view .loading-error-button-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: none;
    flex-grow: 0;
}
.loading-view .loading-error-button-container .loading-error-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 400px;
    height: 31px;
    background: #009EE0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}
.loading-view .loading-error-button-container .loading-error-button.neutral {
    background: #AAAAAA;
}
.loading-view {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 5px;
    gap: 10px;
    width: 100%;
    flex: none;
    flex-grow: 0;
}
