.large-icon-event-view.tank-change-event-view .event-icon {
    background-image: url(../game/tank-gray.png);
    background-repeat: no-repeat;
    background-position: center;
}
.large-icon-event-view .event-icon {
    width: 72px;
    height: 72px;
}
.large-icon-event-view.self-destruct-event-view .event-icon {
    background-image: url(../game/tank-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
}
.large-icon-event-view.self-destruct-event-view .event-icon .arc-canvas {
    width: 100%;
    height: 100%;
}
.large-icon-event-view .event-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
    gap: 6px;
    width: 280px;
}
.large-icon-event-view .event-text .event-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.large-icon-event-view .event-text .event-subtitle {
    font-size: 12px;
    line-height: 14px;
}
.large-icon-event-view.self-destruct-event-view .event-title {
    font-size: 20px;
}
.large-icon-event-view.tank-change-event-view .tank-type {
    color: #009EE0;
    font-weight: bold;
}
.large-icon-event-view.tank-change-event-view .key {
    font-weight: bold;
}
.large-icon-event-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    right: 10px;
    transition: bottom 0.3s, opacity 0.5s;
}
.large-icon-event-view.self-destruct-event-view .key {
    font-weight: bold;
}
