.large-icon-event-view.self-destruct-event-view .event-icon .arc-canvas {
    width: 100%;
    height: 100%;
}
.large-icon-event-view.self-destruct-event-view .event-icon {
    background-image: url(../game/tank-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
}
.large-icon-event-view.self-destruct-event-view .event-title {
    font-size: 20px;
}
.large-icon-event-view.self-destruct-event-view .key {
    font-weight: bold;
}
