.large-icon-event-view.tank-change-event-view .event-icon {
    background-image: url(../assets/game/tank-gray.png);
    background-repeat: no-repeat;
    background-position: center;
}
.large-icon-event-view.tank-change-event-view .tank-type {
    color: #009EE0;
    font-weight: bold;
}
.large-icon-event-view.tank-change-event-view .key {
    font-weight: bold;
}
