
.account-bar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;

  .account-nickname {
    color: white;
    font-size: 18px;
  }

  .account-image {
    width: 42px;
    height: 42px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
    margin-right: 14px;
  }
}