
.editor-toolbar {
  position: absolute;
  top: 30px;
  left: 30px;

  .menu.editor-toollist {
    position: absolute;
    left: 0;
    top: 0;
    width: 47px;
    height: 200px;
    overflow: auto;
  }
}