.overlay-menu .overlay-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.overlay-menu .overlay-header span.player-count {
    color: #A0A0A0;
}
.overlay-menu .overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #009EE0;
}
.overlay-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 14px 10px 12px 10px;
    width: 380px;
    left: calc(50% - 190px);
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    transition: opacity 0.3s, top 0.3s;
    top: 60px;
    opacity: 0;
}
.overlay-menu.shown {
    opacity: 1;
    top: 50px;
}
