.input-cloud {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 0;
}
.input-cloud input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input-cloud span {
  white-space: pre;
}
