
.tdm-overlay-menu {
  position:absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 10px 12px 10px;
  width: 380px;
  background: white;
  gap: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
  opacity: 0;

  &.shown {
    opacity: 1;
    transform: translateY(0);
  }

  .tdm-overlay-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;

    span.player-count {
      color: #A0A0A0;
    }
  }

  .tdm-overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #009EE0;
  }
}