<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404: Файл не найден</title>
</head>
<body>
    <h2>404: Файл не найден</h2>
    <a href="/" class="button">На главную</a>
</body>
</html>