<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>500: Внутренняя ошибка сервера</title>
</head>
<body>
    <h2>500: Внутренняя ошибка сервера</h2>
    <a href="/" class="button">На главную</a>
</body>
</html>