
.pause-menu-view {
    display: flex;
    flex-direction: column;
    width: 460px;
    max-height: 100%;
    box-sizing: border-box;
    padding: 10px;

    .pause-menu-header {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        height: 42px;
        padding: 0 20px;
        margin-bottom: 10px;
        
        box-sizing: border-box;

        .pause-menu-header-item {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        
        .pause-menu-header-cloud {
            font-weight: bold;
            font-size: 24px;
            height: 40px;
        }
    }

    .pause-menu-content {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 5px;
        min-height: 0;
        overflow-y: auto;

        >div:not(:last-child) {
            margin: 0 0 10px 0;
        }

        .subtitle {
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            padding: 5px;
            color: #AAAAAA;
        }

        .pause-menu-button {
            font-weight: bold;
            font-size: 24px;
            height: 40px;
        }
    }
}