.tree-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0 10px;
    flex-grow: 1;
    min-height: 0;

    [role="treeitem"] {
        outline: none;
    }

    .scene-cursor {
        position: absolute;
        height: 3px;
        border: 0px dashed gray;
        border-bottom-width: 1px;
        border-left-width: 1px;
        right: 0px;
        z-index: 1;
        pointer-events: none;
    }

    .tree-row {
        height: 100%;
        border: 1px solid transparent;
        box-sizing: border-box;

        &:hover:not(.selected) {
            background-color: rgb(240, 240, 240);
            border-radius: 5px;
        }

        &.will-receive-drop {
            border: 1px dashed gray;
        }

        &.selected {
            background-color: rgb(220, 220, 220);
        }

        &.selected-start {
            border-radius: 5px 5px 0 0;
        }

        &.selected-end {
            border-radius: 0 0 5px 5px;
        }

        &.selected-start.selected-end, &.will-receive-drop {
            border-radius: 5px;
        }
    }

    .tree-row .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 5px;
        gap: 6px;
        height: 100%;
    }

    .expand-arrow {
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(../map-editor/expand@3x.png);
        width: 12px;
        height: 12px;
        transform: rotate(270deg);
        visibility: hidden;
        cursor: pointer;

        &.open {
            transform: none;
        }
    }
}

.tree-view:hover {
    .expand-arrow:not(.hidden) {
        visibility: visible;
    }
}

.tree-drag-container {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;

    .tree-preview .inner {
        display: inline-block;
        padding: 5px;
        background-color: white;
        font-size: 12px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, .3) 0 0 15px;
    }
}