.cloud {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 5px;
  background: rgba(58, 58, 58, 0.4);
  color: white;
  box-sizing: border-box;

  &.stretch {
    align-self: stretch;
  }

  &.round {
    border-radius: 10px;
  }

  &.button {
    cursor: pointer;
  }

  &.button:hover {
    background-color: rgba(58, 58, 58, 0.8);
  }

  &.blue {
    background-color: rgba(0, 158, 224, 0.6);
  }

  &.blue.button:hover {
    background-color: rgba(0, 158, 224, 0.8);
  }

  &.red {
    background-color: rgba(224, 0, 40, 0.6);
  }

  &.red.button:hover {
    background-color: rgba(224, 0, 40, 0.8);
  }

  &.left-arrowed:before, &.right-arrowed:before {
    content: " ";
    background-repeat: no-repeat;
    background-size: auto 23px;
    display: block;
    position: absolute;
    
    top: 0;
    width: 21px;
    height: 100%;
    opacity: 0.4;
  }

  &.left-arrowed:hover:before, &.right-arrowed:hover:before {
    opacity: 0.8;
  }

  &.left-arrowed:before {
    background-position: left center;
    background-image: url(/static/hub/navigate-back@3x.png);
    left: -22px;
  }

  &.right-arrowed:before {
    background-position: right center;
    background-image: url(/static/hub/navigate-forward@3x.png);
    right: -22px;
  }
}