@use "../../../ui/theme.scss" as theme;

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .card {
        position: relative;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        background-color: white;
        box-sizing: border-box;

        font-style: normal;
        font-weight: 700;
        cursor: pointer;

        &.blue {
            background-color: theme.$main-blue;
        }
    }

    .vstack {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        flex: none;
        align-self: stretch;
        flex-grow: 0;
    }

    .play-button {
        width: 225px;
        height: 322px;

        .card-icon {
            /* play */

            position: absolute;
            width: 114px;
            height: 78px;
            top: 77px;
            left: 0;
            width: 100%;
            background-image: url(../hub/play@3x.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 100%;
        }

        .card-title {
            position: absolute;
            top: 190px;
            left: 0;
            width: 100%;
            height: 42px;

            font-size: 36px;
            line-height: 42px;
            text-align: center;

            color: #FFFFFF;
        }

        .card-subtitle {
            position: absolute;
            
            top: 235px;
            left: 0;
            width: 100%;
            height: 19px;

            font-size: 16px;
            line-height: 19px;
            text-align: center;

            color: rgba(255, 255, 255, 0.8);
        }
    }

    .rooms-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 0px;
        gap: 20px;

        width: 225px;
        height: 50px;

        .card-icon {
            background-image: url(../hub/hamburger@3x.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 18px;
            height: 12px;
        }

        .card-title {
            height: 19px;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }

    .vstack-right-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 15px;
        gap: 15px;

        width: 403px;
        height: 88px;

        .card-icon {
            background-size: 100%;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .card-contents {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .card-title {
            height: 28px;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            align-self: stretch;
        }

        .card-subtitle { 
            height: 19px;
            font-size: 16px;
            line-height: 19px;
            color: #7F7F7F;
            align-self: stretch;
        }
    }
}
