
.navigation-view.pause-navigation-view {
  /* Flex direction switched to row, because we use
    custom transitions, which are heavily relying
    on block heights. When several navigation
    blocks happen to occur inside single navigation
    view, their heights are getting messed up, because
    they are trying to share height given by navigation
    view between each other. */
  flex-direction: row;
  justify-content: center;
  height: 100%;
}