<!doctype html>

<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Танчики - браузерный шутер</title>

    <link rel="stylesheet" href="static/styles/launcher-styles.css">
    <link rel="stylesheet" href="static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;900&display=swap" rel="stylesheet">

    <script>window.userData = {{{ userData }}};</script>
    <script src="static/index.js" defer></script>
</head>
<body>

</body>
</html>