<!doctype html>

<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Танчики - браузерный шутер</title>

    <link rel="stylesheet" href="styles/launcher-styles.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;900&display=swap" rel="stylesheet">
    <script>window.userData = {{{ userData }}}</script>
    <script src="./scripts/index.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
</head>
<body>

</body>
</html>