.basic-event-view {
    padding: 15px;
    transition: bottom 0.3s, opacity 0.5s;
    color: #2D2D2D;
    background: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    width: 250px;
    height: fit-content;
}
