.player-nicks-overlay .nick-block {
    position: absolute;
    font-weight: bold;
    background: #ffffff;
    padding: 3px 9px;
    border-radius: 7px;
    opacity: 0.75;
}
.player-nicks-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
