.drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: none;

  &::after {
    content: ' ';
    position: absolute;
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: 7px;
    border: dashed #d2d2d2 4px;
    border-radius: 10px;
  }

  &.visible {
    display: block;
  }
}