.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 30px 0;

    .loading-icon {
        width: 111px;
        height: 71px;
        background: url("../hub/tank.png") no-repeat center;
        background-size: contain;
        opacity: 0.2;
    }
    .loading-title, .loading-subtitle {
        color: #AAAAAA;
        text-align: center;
        width: 500px;
    }
    .loading-title {
        font-size: 36px;
        line-height: 42px;
    }
    .loading-subtitle {
        font-size: 16px;
        line-height: 21px;
    }
    .loading-subtitle a {
        color: #0f7fff;
        text-decoration: underline;
        cursor: pointer;
    }
}
