.editor-tool-settings {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    right: 77px;
    top: 20px;
    height: 47px;
    box-sizing: border-box;
    
    transition: opacity 0.5s, width 0.3s;

    .box {
        height: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 0 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        background-color: white;
        border: solid 1px #C8C8C8;

        &.selected {
            border: solid 2px #00c4ff;
        }

        &.button {
            cursor: pointer;
        }

        &.square {
            width: 47px;
            padding: 0;
        }
    }
    
    button {
        height: 35px;
        display: inline-block;
        margin: 5px;
        line-height: 0;
        font-size: 12px;
        font-weight: 200;
        background: white;
        box-shadow: none;
        border: 1px solid #bbb;
        color: #444444;
    }
}
