.cloud {
  color: white;
  border-radius: 5px;
  background: rgba(58, 58, 58, 0.4);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.round {
    border-radius: 10px;
  }

  &.button {
    cursor: pointer;
  }

  &.button:hover {
    background: rgba(58, 58, 58, 0.8);
  }

  &.stretch {
    align-self: stretch;
    align-items: center;
  }

  &.blue {
    background: rgba(0, 158, 224, 0.6);

    &.button:hover {
      background: rgba(0, 158, 224, 0.8);
    }
  }

  &.red {
    background: rgba(224, 0, 40, 0.6);

    &.button:hover {
      background: rgba(224, 0, 40, 0.8);
    }
  }

  &.left-arrowed{
    &:before {
      content: " ";
      background: url(../assets/img/back.png) no-repeat left center;
      background-size: auto 23px;
      display: block;
      position: absolute;
      left: -22px;
      top: 0;
      width: 21px;
      height: 100%;
      opacity: 0.6;
    }

    &:hover:before {
      opacity: 0.8;
    }
  }
}