.menu.dialog {
  width: 300px;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  
  .message {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .title {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 23px;
    box-sizing: border-box;
  }

  .inputs {
    padding: 10px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    td {
      padding: 3px;
    }
  }

  input {
    padding: 5px;
    background: #eee;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
}
