.menu.tankinfo {
    margin-left: -400px;
    margin-top: -235px;
    width: 800px;
    height: 225px;

    .tank-stats {
        .stat {
            position: relative;
            height: 35px;
        }

        .stat-scale {
            position: absolute;
            transition: width 0.5s ease-out, background 0.5s ease-out;
            height: 23px;
            border-radius: 5px;
        }

        .stat-title {
            position: absolute;
            height: 23px;
            line-height: 23px;
            left: 5px;
            font-family: Roboto, sans-serif;
            color: white;
        }

        .stat-value {
            position: absolute;
            height: 20px;
            line-height: 20px;
            transition: left 0.5s ease-out;
        }

        .tankdescription {
            position: absolute;
            height: 30px;
            left: 0;
            bottom: 40px;
            width: 100%;
            padding: 10px;
            overflow: auto;
            word-wrap: break-word;
        }
    }

    .tank-preview {
        left: 20px;
        top: 20px;
        width: 185px;
        height: 185px;
        position: absolute;

        canvas {
            position: absolute;
            left: 15px;
            width: 155px;
            height: 155px;
        }

        h1 {
            position: absolute;
            top: 155px;
            left: 0;
            right: 0;
            margin: 0;
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 22px;
            text-align: center;
        }
    }

    .tank-stats {
        position: absolute;
        left: 230px;
        right: 210px;
        bottom: 30px;
        top: 30px;
    }

    .description {
        right: 20px;
        top: 20px;
        bottom: 10px;
        width: 170px;
        position: absolute;
        font-family: Roboto, sans-serif;
        font-size: 15px;
    }
}