@use "../theme.scss" as theme;

.game-create-view {
  text-align: center;

  .game-create-button {
    width: 181px;
    height: 47px;
    border-radius: 13px;
    background-color: theme.$main-blue;
    background-repeat: no-repeat;
    background-position: calc(100% - 13px) center;
    background-size: 13px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
  }

  .game-create-button:not(:disabled) {
    background-image: url(/static/hub/detail-disclosure.png);
  }
}