.menu.room-select {
    overflow: visible;
    margin-left: 170px;
    margin-top: -290px;
    width: 230px;
    height: 40px;
    opacity: 0.4;
    transition: opacity 0.5s;

    &:hover, &.expanded {
        opacity: 1;
    }
}