.room-list-view {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    max-height: 100%;
    padding: 10px 10px 0 10px;

    .room-list-view-contents {
        overflow-y: auto;
        padding-bottom: 10px;
    }
}
